*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}
.Titulo{
    text-align: justify;
    padding: 5%;
    background-color: blue;

}
.navbar{
    display: flex;
    justify-content: left;
    padding: 1%;
    margin: 1%;
    background-color: aqua;
}
.navbar a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ededee;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.aside{
    flex: 50%;
    width: 400px;
    background-color: blueviolet;
}
.main{
    flex: 50%;
    height: 400px;
    background-color: black;
}