*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DAF7A6;
}
.Titulo{
    text-align: justify;
    padding: 1%;
    background-color: #DAF7A6;
}
.navbar{
    display: flex;
    justify-content: left;
    padding: 1%;
    margin: 1%;
    background-color: #FFC300;
}
.navbar a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ededee;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.aside{
    flex: 25%;
    width: 400px;
    background-color: blueviolet;
    height: 800px;
}
.main{
    flex: 75%;
    height: 800px;
    background-color: brown;
    width: 400px;
}


.Piedepagina{
    background-color: ;
    color: black;
    text-align: center;
}
.Redessociales{
    color: black;
    font-size: 15px;
    margin: 0 10px;
    text-decoration: none;
}
.Redessociales:hover{
    color: bisque;
}

.contenido{
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}
.imagen{
    text-align: center;
    margin-bottom: 20px;
}
.imagen{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.bolsa{
    width: 500px;
    text-align: justify;

}